.my_header {
    .my_tabs {
        margin-left: 100px;
    }
    .my-brand {
        position: absolute;
        top: 5px;
        left: 4px;
        cursor: pointer;
        margin-left:0px !important;
    }
    .no-padding {
        padding: 0px;
    }
    img {
        border-radius: 50%;
    }
}