
<nav class="navbar navbar-inverse my_header">
    <div class="container-fluid">
        <div class="navbar-header">
        
            <a class="navbar-brand my-brand no-padding" ui-sref="author" data-ng-disabled="true">
                <img alt="dd" src="../client/app/shared/img/dd.png" width="100px">
            </a>
            <ul class="nav navbar-nav my_tabs navbar-left">
                <li><a ui-sref="home" class="navbar-nav-link">Home</a></li>
                <li><a ui-sref="about" class="navbar-nav-link">About project</a></li>
                <li><a ui-sref="author" class="navbar-nav-link">About author</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
             <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="about">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
